* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f2e9e4;
    color: #22223b;
}

#header {
    text-align: center;
    padding: 35px 20px;
    background: #22223b;
    color: #f2e9e4;
    height: 50vh;
}

#header h1 {
    font-size: 38px;
    margin-bottom: 8px;
}

#header p {
    font-size: 18px;
}

#header img {
    max-height: 150px;
    width: auto;
    object-fit: contain;
    margin-top: 15px;
    border-radius: 25%;
}


#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    padding: 15px;
    background: #4a4e69;
    border-bottom: 1px solid #22223b;
}

#navbar a {
    color: #f2e9e4;
    text-decoration: none;
    font-weight: bold;
}

#main-search {
    padding: 8px;
    width: 200px;
}

#login-link {
    font-weight: bold;
}

#user-type {
    padding: 8px;
}

#hero {
    text-align: center;
    padding: 40px 20px;
}

#hero h2 {
    font-size: 30px;
    margin-bottom: 8px;
}

#hero p {
    color: #4a4e69;
    margin-bottom: 15px;
}

#job-search , #location-search {
    padding: 10px;
    width: 260px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

#search-btn {
    padding: 10px 25px;
    background: #4a4e69;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 12px;
}

#search-btn:hover {
    background: #22223b;
}

#categories {
    margin-top: 25px;
}

#categories a {
    margin: 0 10px;
    color: #0077cc;
    text-decoration: none;
}

#categories a:hover {
    text-decoration: underline;
}

#featured-jobs {
    padding: 40px 20px;
    text-align: center;
}

#featured-jobs h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.job-card {
    background: white;
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid black;
    text-align: left;
}

.job-card h3 {
    font-size: 22px;
}

.job-card h4 {
    color: #4a4e69;
    margin-top: 5px;
}

.job-card p {
    margin: 10px 0;
}

.job-card button {
    padding: 8px 18px;
    background: #4a4e69;
    color: white;
    border: 2px;
    border-radius: 6px;
}

#freelance {
    padding: 40px 20px;
    text-align: center;
}

#freelance h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.gig-card {
    background: white;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    text-align: left;
}

.gig-card h3 {
    font-size: 20px;
}

.gig-card button {
    padding: 8px 18px;
    background: #9a8c98;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 8px;
}


#footer {
    background: #22223b;
    color: #f2e9e4;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

#footer h5 {
    margin: 5px 0;
}
